@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: bisque;
    font-family: Montserrat;
    margin: 0 0 0 0;
}

/* .hello {
    background-color: bisque;
}
 */


 /* Nav Styling ------------------------------------------------------------- */
 nav {
    /* height: 12%; */
    height: 100px;
    min-height: 100px;
    max-height: 150px;
    background-color: #EBBCBC;

    display: flex;
    width: calc(100% - 25px);
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    padding-left: 20px;

    border-radius: 0 0 6px 6px;
    box-shadow: 0 0px 7px black;

}

.nav-title {
    flex: 1;
    text-align: right;
    font-size: 22px;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
    flex-shrink: 3;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

 /* Nav Button Animations --------------------------------------------------- */

.navButtonToggle {
    position:relative;
}

.navButtonToggle:after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #555358;
    transition: width 0.3s;
}

.navButtonToggle:hover:after {
    width:70%;
}

.portfolioToggle a{
    text-decoration: none;
    color: black;
}

