@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: bisque;
    font-family: Montserrat;
    margin: 0 0 0 0;
}

button {
    margin-top: 3px;
    padding: 4px 20px 4px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px gray;
    font-size: 16px;
}

label {
    padding: 5px;
    border-radius: 5px;
}


.one {
    background-color: red;
}

.two {
    background-color: orange;
}

.three {
    background-color: rgb(218, 140, 140);
}

.four {
    background-color: lightgreen;
}

.five {
    background-color: green;
}


 /* Nav Styling ------------------------------------------------------------- */
 nav {
    height: 100px;
    min-height: 100px;
    max-height: 150px;
    background-color: #EBBCBC;

    display: flex;
    width: calc(100% - 25px);
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    padding-left: 20px;

    border-radius: 0 0 6px 6px;
    box-shadow: 0 0px 7px black;

}

.nav-title {
    flex: 1;
    text-align: right;
    font-size: 22px;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
    flex-shrink: 3;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

 /* Nav Button Animations --------------------------------------------------- */

.navButtonToggle {
    position:relative;
}

.navButtonToggle:after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #555358;
    transition: width 0.3s;
}

.navButtonToggle:hover:after {
    width:70%;
}

.portfolioToggle a{
    text-decoration: none;
    color: black;
}

/* Add Button Styling and animations */

.add-button {
    display: block;
    position: fixed;
    height: 62px;
    width: 62px;
    border-radius: 40px;
    font-size: 30px;
    bottom: 35px;
    right: 40px;
    background-color: #EBBCBC;
    box-shadow: 0 0 4px;
    border-width: 1px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    cursor:pointer;
}

.add-button:hover {
    background-color: #c79c9c;
    transition-duration: .2s;
    transform: scale(1.1) rotate(180deg);

}

.add-button:active {
    background-color: #fffafa;
    transform: translateY(4px);
    transition-duration: 0;
}


.project-container-add-menu {
    
    display: flex;
    position: absolute;

    left: calc(50% - 200px);
    top: calc(50% - 75px);

    height: 150;
    width: 400px;
    background-color: rgb(218, 140, 140);
    transition-duration: 0.1s;
    padding: 5px;

    border-radius: 5px;
    border: 2px solid rgb(92, 72, 72);
    box-shadow: 0 0 10px rgb(92, 72, 72);
}

.project-container-add-menu:hover {
    transform: scale(1.05);
}
 
.project-container-add-menu-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
}

/*
.new-project-name-container {
    font-size: 16px;
} */

.new-project-form-container {
    font-size: 16px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-project-priority-input {
    /* background-color:green; */
    border-radius: 5px;
    border: 2px solid rgb(92, 72, 72);
    /* box-shadow: 0 0 10px rgb(92, 72, 72);} */
}

.new-project-button-container {
    display: flex;
    width: 250px;
    justify-content: space-around;
    padding-bottom: 10px;
}


/* -------------- Project Container Styling -------------- */

.project-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

/* -------------- Project Pane Styling -------------- */
.project-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 400px;
    margin: 10px;
    background-color: rgb(218, 140, 140);
    border-radius: 5px;
    border: 2px solid rgb(92, 72, 72);
    box-shadow: 0 0 10px rgb(92, 72, 72);
    text-align: center;
    
}

.project-name-container {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 5px 5px 5px;
    border-radius: 4px 4px 0px 0px;
}

.project-name {
    position: relative;
    max-width: 350px;
    text-align: center;
    flex-grow: 1;
}

.project-edit-button {
    height: 25px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    border-radius: 100%;
}

.project-edit-button:hover{
    transform: scale(1.15);
    transition-duration: 0.1s;
    background-color: white;
    /* border-radius: 10px; */
}

.project-todo-element-container {
    background-color:rgb(240, 206, 206);
    flex-grow:1;
    margin: 5px 5px 4px 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(126, 105, 105);
    max-height: 81%;
    display: flex;
    flex-direction: column;
    max-width: 94%;
}

.project-todo-button-container {
    display: flex;
    justify-content: space-evenly;
}

.project-todo-button {
    padding: 4px;
    margin-top: 0px;
    transform: scale(.9);
}

.project-todo-list {
    height: 100%;
    display:flex;
    flex-direction: column;
}

.todo-list {
    flex-grow: 6;
    /* background-color: grey; */
    overflow-y: auto;
    padding-top: 5px;
}



.todo-element-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
    overflow: hidden;
}




.todo-div-name {
    max-width: 340px;    
    padding: 2px;
}

.todo-edit-button {
    height: 17px;
    margin-left: auto;
    margin-right: 2px;
}


.todo-list-completed {
    position: relative;
    flex-grow: 1;
    min-height: 20px;
    max-height: 45px;
    padding-top: 0px;
}

.todo-completed {
    opacity: 40%;
    text-decoration: line-through;
}

.project-date-container {
    display: flex; 
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}


/* -------------- Project Edit Pane Styling -------------- */

.project-edit-pane {
    position: absolute;
    display:flex;
    background-color: red;
    height: 380px;
    width: 380px;
    /* bottom: 5px; */
    /* top: 5px; */
    margin: 9px 10px 5px 9px;
}